<div class="tableauProduct">
    <div>
        <img src="{{server}}icones/{{product.logo}}" (click)="launchProduction()"/>
        <span> Quantity of product : {{product.quantite}}</span>
    </div>
    <div>
    <!-- TODO afficher le cout -->
    <button id="boutonProduct" mat-button (click)="onBuy()" [disabled]="canBuy() === false">
        <div>Buy !</div>
        <div>{{_qtmulti}}</div>
        <div>{{calcMaxCanBuy()}}</div>
    </button>
    <mat-progress-bar [(ngModel)]="progressbar" class="progressbar" [value]="progressbarvalue"></mat-progress-bar>
</div>
</div>