<div class="header">
  <img [attr.src]="server+world.logo" />
  <span id="worldname"> {{world.name}} </span>
  <span [innerHTML]="world.money | bigvalue"> </span> 
  <button mat-button [innerHTML]="qtmulti" (click)="onQtmultiClick()"></button>
  <div> ID du joueur </div> 
</div> 
<div class="main"> 
  <div> liste des boutons de menu </div> 
  <div class="product" *ngFor="let product of world.products.product">
    <app-product [prod]="product" [qtmulti]="this.qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (notifyBuy)="onBuyDone($event)"></app-product>
  </div> 
</div>